plyfile
imageio
opencv-python-headless
trimesh # ==2.35.39
tensorboardX
easydict
tqdm
h5py
matplotlib
wandb
colorama
pandas
scikit-learn
spacy
nltk
# pycocoevalcap

peft==0.13.2
transformers==4.35
accelerate==0.34
Pillow==9.4.0
# deepspeed
numpy==1.24.2
networkx==3.0
icecream
shapely
parse
open_clip_torch
toml
pretty_errors
flask
openai
scipy
umap